assignments/hw4/__pycache__/hw_utils.cpython-312.pyc
assignments/hw4/fig1.pdf
assignments/hw4/fig1.png
assignments/hw4/hw4.ipynb
assignments/hw4/Yang_hw4.pdf
assignments/hw4/hw4.ipynb
assignments/hw4/hw4.ipynb
